# Mark the database schema as generated
db/schema.rb linguist-generated

# Mark vendored files
vendor/* linguist-vendored

# Rails credentials diff
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# Normalize line endings
* text=auto
bin/* eol=lf
*.sh eol=lf
